* {
    box-sizing: border-box;
}

#box {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    background-color: rgb(144, 71, 212);
    display: grid;
    justify-items: center;
    align-self: center;
}

.button {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(41, 200, 206);
    width: 100px;
}